---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Free",
    price: "$0",
    popular: false,
    features: [
      "Record and transcribe live meeting",
      "Transcribe video/audio files",
      "Transcribe youtube URL",
      "Play transcript audio",
      "Chat with transcript",
      "Up to 30 minutes per transcription",
      "Export to notes app",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Pro",
    price: "$18.99",
    popular: true,
    features: [
      "Lifetime Pro access",
      "Unlimited transcription",
      "Auto transcript title/summary",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Find the perfect plan for you. All plans include access to full set of features.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-screen-md mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
