---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-32 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-3xl md:text-4xl tracking-tight">
    Download Notes.ai now
  </h2>
  <div class="flex mt-8 text-lg">
    <Link
        href="#"
        href="https://apps.apple.com/us/app/notes-ai/id6477414161"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        style="inverted"
        rel="noopener">
        <Icon class="text-balck w-5 h-5" name="bx:bxl-apple"ã€ />

         Mac App Store
      </Link>
  </div>
</div>
