---
import { Picture } from "astro:assets";
import heroImage from "assets/dashboard.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter max-w-5xl">
      Transcribe Meetings into Organized Notes
    </h1>
    <p class="mt-4 text-slate-600 max-w-3xl">
      Record Meetings, Drop Video Files, Youtube URLs, Get transcription in <strong>Notes.ai</strong>
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://apps.apple.com/us/app/notes-ai/id6477414161"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxl-apple" />

         Mac App Store
      </Link>
      
    </div>
  </div>
  <div class="py-6 md:order-2 hidden md:block ">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[800,1200,1600]}
      sizes="(max-width: 1200px) 100vw, 800px"
      loading="eager"
      format="avif"
    />
  </div>
</main>
